@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f4f4f5; /* zinc-100-ish */
  color: #18181b;           /* zinc-900-ish */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
